<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="sisplatPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>model.Apropriacao</class>
    <class>model.RtHasProfissional</class>
    <class>model.Local</class>
    <class>model.Profissional</class>
    <class>model.Rt</class>
    <class>model.Contrato</class>
    <class>model.Escopo</class>
    <class>model.UnidadeMedida</class>
    <class>model.Funcao</class>
    <class>model.Empresa</class>
    <class>model.Usuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <properties>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://mysql.sisplat.com:3306/sisplat?useSSL=false&amp;useTimezone=true&amp;serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="sisplat"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="bode123"/>
    </properties>
  </persistence-unit>
</persistence>
